body
{
    margin: 0;
    font-family: arial;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: none;
    border-radius: 16px;
}

#icon
{
    width: 20%;
}

#banner
{
    background-color: white;
    padding-top: 20px;
}

#banner img
{
    display: block;
    margin: auto;
}

#regis
{
    text-align: center;
}

#status
{
    background-color: gainsboro;
    display: none;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 50%;
    margin: auto;
    padding: 10px;
    align-content: center;
}

#status meter
{
    width: 200px;
    height: 50px;
}

#status progress
{
    width: 200px;
    height: 50px;
}

#home
{
    text-align: center;
}

#menu input[type="image"]
{
    background-color: none;
    border: 0;
    width: min-content;
}

#leftArrow
{
    visibility: hidden;
}

#playGame
{
    width: 100px;
}

#actions
{
    display: none;
}

#actions button
{
    width: 100px;
}

#refresh
{
    visibility: hidden;
}

#refresh button
{
    width: 5%;
    border-radius: 5px;
}

#refresh img
{
    width: 100%;
    margin: auto;
}