body
{
    margin: 0;
    font-family: arial;
}

#icon
{
    width: 20%;
}

#banner
{
    margin-top: 20px;
}

#banner img
{
    display: block;
    margin: auto;
}

#ui
{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: none;
}
#regis
{
    text-align: center;
}

#status
{
    display: none;
    border: 1px solid;
    height: 300px;
    width: 50%;
    margin: auto;
    padding: 10px;
    align-content: center;
}

#status meter
{
    width: 200px;
    height: 50px;
}

#status progress
{
    width: 200px;
    height: 50px;
}

#home
{
    text-align: center;
}

#menu input[type="image"]
{
    background-color:transparent;
    border: 0;
    width: min-content;
}

#leftArrow
{
    visibility: hidden;
}

#playGame
{
    width: 100px;
}

#actions
{
    display: none;
}

#actions button
{
    width: 100px;
}

.bg{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}